:root {
  --document-width: 100vw; /* 默认值，将通过JS动态更新 */
  --document-height: 100vh; /* 默认值，将通过JS动态更新 */
  --width-sm: 640px;
  --width-md: 768px;
  --width-lg: 1024px;
  --width-xl: 1280px;
  --width-2xl: 1536px;
  --zHeader: 1000;
  --zNav: 900;
  --nav-width: 200px;
  --nav-width-collapsed: 0px;
  --nav-width-mobile: 100%;
  --content-width: calc(var(--document-width) - var(--nav-width));
  --header-h: 4rem;
  --gutter-size: max(20px, calc((var(--document-width) - 68rem) / 2));
  --media-gutter-size: max(20px, calc((var(--document-width) - 1728px) / 2));
}
/* 默认浅色主题变量 */
:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-primary: rgba(0, 0, 0, 0.062);
  --color-primary-hover: rgba(0, 0, 0, 0.2);
  --color-btn: rgba(0, 0, 0, 0.288);
  --color-nav: #00000007;
  color-scheme: light;
}

/* 深色主题变量 */
.dark {
  --color-load: #fff;
  --color-bg: #000000;
  --color-text: #ffffff;
  --color-btn: rgba(255, 255, 255, 0.4);
  --color-primary: #ffffff1f;
  --color-primary-hover: #ffffff2f;
  --color-nav: #fffefe21;
  --color-shadow: #d44af742;
  --color-card: hsla(0, 0%, 100%, 0.12);
  color-scheme: dark;
}

/* 浅色主题的自定义变量 */
.light {
  --color-load: #000;
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-primary: rgba(0, 0, 0, 0.062);
  --color-primary-hover: rgba(0, 0, 0, 0.2);
  --color-btn: rgba(0, 0, 0, 0.4);
  --color-nav: #00000007;
  --color-shadow: #00000014;
  --color-card: hsla(157, 100%, 50%, 0.808);
}
.bg-primary-4 {
  --tw-bg-opacity: 1;
  background-color: hsla(0, 0%, 0%, 0.04);
}
/* 系统主题偏好检测（仅作为初始化参考） */
@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.dark) {
    --color-bg: #000000;
    --color-text: #ffffff;
    --color-btn: rgba(255, 255, 255, 0.5);
    --color-primary: #ffffff1f;
    --color-primary-hover: #ffffff2f;
    --color-nav: #fffefe17;
    color-scheme: dark;
  }
}
/* 移动端 */
@media (max-width: 640px) {
  :root {
    --header-height: 54px;
  }
}

/* 平板 */
@media (min-width: 641px) and (max-width: 1024px) {
  :root {
    --header-height: 64px;
  }
}

/* 桌面端 */
@media (min-width: 1025px) {
  :root {
    --header-height: 64px;
  }
}

@media (min-width: 48rem) {
  :root {
    --header-h: 4rem;
  }
}
